body {
color:black;
    background-color:#ffcc99;
    font-family: 'Montserrat', sans-serif;
}

#header-nav {
    background-color:#b35c86;
    border:0;
}

#logo {
    background: url('../image/logo.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin:10px 15px 10px 0;
}

.navbar-brand {
    padding-top:25px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand h1 {
    text-shadow: 2px 2px 2px #222;
    font-size:1.5em;
    font-weight:bold;
    margin-top:0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand p {
    text-shadow: 2px 2px 2px #222;
    margin-top:15px;
}
.navbar-brand p span {
    vertical-align: middle;
}